<h2>Articles Home</h2>

<div class="row">
	<% @articles.each do |article| %>
		<div class="well text-center">
			<h3><%= link_to article.title, article_path(article) %></h3>
			<%= article.description %>
		</div>
	<% end %>

</div>