<h2>Articles Home</h2>

<div class="row" style="display: flex; flex-wrap: wrap">
	<% @articles.each do |article| %>
		<div class="col-sm-3 col-sm-6">
			<div class="thumbnail text-center">
				<div class="caption">
					<h5><%= link_to article.title, article_path(article) %></h5>
					<%= article.description %>
				</div>
			</div>
		</div>
	<% end %>

</div>